<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Uncomment the below and save the .nupkg for ExcelDNA-AddIn to the below folder 
	if the anti-virus is blocking you from installing it via NuGet.-->
    <!-- <add key="LocalPackages" value="./LocalPackages" /> -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Omicron" value="https://gitlab.fsa-aks.deloitte.co.za/api/v4/projects/225/packages/nuget/index.json" />
  </packageSources>
</configuration>
